* {
  /* make everything unselectable by default */
  user-select: none;
}

input {
  color: #ffffff;
  width: 100%;
  height: 2.3rem;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  background-color: #1d1d1d;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  border-radius: 6px;
}

input::placeholder {
  color: #727272;
}

button {
  user-select: none;
  background-color: #1d1d1d;
  color: #ffffff;
  border: none;
  cursor: pointer;
  min-width: 9rem;
  align-items: center;
  justify-content: space-between;
  height: 2.3rem;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  border-radius: 6px;
  color: #fff;
  user-select: none;
}

button:hover {
  background-color: #363636;
}

button:active {
  background-color: #191919;
}
